body {
  text-align: center;
  background-color: #011F3F;
  background-image: url("images/wrong.jpeg");
  background-position: top;
}

#level-title {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-image: url("images/incorrect.jpeg");
  background-position: top;
  background-size: cover;
  opacity: 0.8;
}

.green {
  background-image: url("images/fcg.png");
  background-size: 200px;
}

.red {
  background-image: url("images/dicks.jpg");
  background-size: 200px;
}

.yellow {
  background-image: url("images/pigeon.png");
  background-size: 200px;

}


.blue {
  background-image: url("images/frumpkin.png");
  background-size: 200px;

}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
